
*{
    font-family: 'Lato', sans-serif;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Metal Mania', cursive;
}


:root{
    --main: #ff8201;
    --sec: #f3e5da;
    --accent: #93009c;

}

.text-main{
    color: var(--main);
}

.bg-main{
    background-color: var(--main);
}

.border-main{
    border: 2px solid var(--main);
}

.text-sec{
    color: var(--sec);
}

.bg-sec{
    background-color: var(--sec);
}

.border-sec{
    border:2px solid var(--sec);
}

.bg-linear{
    background: linear-gradient(to right, var(--main), var(--sec));
}

.text-gradient{
    background: -webkit-linear-gradient(90deg, rgb(255, 130, 1), #f3e5da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-shadow{
    text-shadow: -2px -2px 4px rgba(209, 206, 206, 0.914);
}

.text-accent{
    color: #93009c;
}
/* Header */

.vh90{
    height: 90vh;
}

.bg-header{
    background: linear-gradient( rgba(255, 130, 1, 0.5) ,  rgba(255, 130, 1, 0.5)) , url('https://picsum.photos/800')  ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navbar */

.navbar{
    height: 10vh;
}

.logo{
    width: 28px;
}

@media screen and (max-width:1000px){
    .logo{
        width: 19px;
    }

    .nav-link{
        color: #ff8201!important;
        margin: 1px!important;
    }

    .navbar-toggler{
        cursor: pointer;
    }
}

/* Timeline */

.border-right{
    border-right: 2px solid var(--main);
}

.border-left{
    border-left: 2px solid var(--main);
}

.pseudo-right, .pseudo-left{
    position: relative;
}

.pseudo-right::after{
    content: '';
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid var(--accent);
    position: absolute;
    top: 7.5px;
    background-color: #f3e5da;
    right: -9px;
}


.pseudo-left::before{
    content: '';
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 1px solid var(--accent);
    position: absolute;
    top: 7.5px;
    background-color: #f3e5da;
    left: -9px;
}

/* Position */

.pos-left{
    
    position: relative;
    top: -20px;
    left: 20px;
    background-color: white;
    transition: 0.5s;
}

.pos-left:hover{
    top: 0px;
    left: 0px;
    
}

@media screen and (max-width:700px){
    .pos-left{
        position: static;
    }
    .navbar-collapse{
        background: linear-gradient(to left, var(--main), var(--sec));
    
    }

    .visual{
        padding-left: 0px;
        padding-right: 0px;
    }
}

        /* Cards */

    .card{
        width: 300px;
        transition: 0.4s;
    }

    .card:hover{
        transform: scale(1.1);
        
    }

    /* Footer */

    .footer-custom{
        min-height: 100px;

    }

    .border-sec-right{
        border-right: 2px solid var(--sec);
    }

    @media screen and (max-width: 700px){
        .border-sec-right{
            border-bottom: 2px solid var(--sec) ;
            border-right: none;
            margin-top: 5px;
        }
    }